<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-7 offset-1">
      <table class="table table-bordered table-dark table-hover">
        <thead>
          <tr class="tr-head">
            <th>Id</th>
            <th>Модель</th>
            <th>Производитель</th>
            <th>Количество клавиш</th>
            <th>Midi-выход</th>
            <th>Цена</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let midiKeyboard of midiKeyboardList"
              (click)="viewMidiKeyboard(midiKeyboard.id)">
            <td class="short-col">{{midiKeyboard.id}}</td>
            <td>{{midiKeyboard.model}}</td>
            <td class="regular-col">{{midiKeyboard.manufacturer}}</td>
            <td class="short-col">{{midiKeyboard.keysNumber}}</td>
            <td class="short-col" >
              <div class="midi-out-img mx-auto" [ngClass]="{'image-yes': midiKeyboard.hasMidiOut,
              'image-no': !midiKeyboard.hasMidiOut}">
              </div>
            </td>
            <td>{{midiKeyboard.price}}</td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!midiKeyboardList.length" class="alert alert-dark" role="alert">
        По вашему запросу ничего не найдено.
      </div>
    </div>
    <div class="col-3">
      <h3>Поиск:</h3>
      <form>
        <div class="form-group">
          <label for="midi-id">Id:</label>
          <input type="text" class="form-control" id="midi-id"
                 [(ngModel)]="midiKeyboardSearchDto.id" placeholder="Введите id" name="midi-id">
        </div>
        <div class="form-group">
          <label for="midi-model">Модель:</label>
          <input type="text" class="form-control" id="midi-model"
                 [(ngModel)]="midiKeyboardSearchDto.model" placeholder="Введите модель" name="model">
        </div>
        <div class="form-group">
          <label for="midi-manufacturer">Производитель:</label>
          <input type="text" class="form-control" id="midi-manufacturer"
                 [(ngModel)]="midiKeyboardSearchDto.manufacturer" placeholder="Введите производителя" name="manufacturer">
        </div>
        <div class="form-group">
          <label for="midi-key">Кол-во клавиш:</label>
          <input type="text" class="form-control" id="midi-key"
                 [(ngModel)]="midiKeyboardSearchDto.keysNumber" placeholder="Введите количество клавиш" name="keys">
        </div>
        <div class="form-group">
          <label for="midi-price">Цена:</label>
          <input type="text" class="form-control" id="midi-price"
                 [(ngModel)]="midiKeyboardSearchDto.price" placeholder="Введите цену" name="price">
        </div>
        <div class="form-group form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input"
                   [(ngModel)]="midiKeyboardSearchDto.hasMidiOut" name="midi-out">Midi-выход:
          </label>
        </div>
        <button type="submit" class="btn btn-dark" (click)="searchMidiKeyboard()">
          Поиск
        </button>
        <button type="button" class="btn btn-light" (click)="clearFilter()">
          Очистить
        </button>
      </form>
    </div>
  </div>
</div>