<!DOCTYPE html>
<div class="container-fluid">
  <div class="row">
    <div class="col-7 offset-1">
      <table class="table table-bordered table-dark table-hover">
        <thead>
          <tr class="tr-head">
            <th>Id</th>
            <th>Модель</th>
            <th>Производитель</th>
            <th>Количество клавиш</th>
            <th>Midi-выход</th>
            <th>Цена</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let midiKeyboard of midiKeyboardList" (click)="viewMidiKeyboard(midiKeyboard.id)">
            <td class="short-col">{{midiKeyboard.id}}</td>
            <td>{{midiKeyboard.model}}</td>
            <td class="regular-col">{{midiKeyboard.manufacturer}}</td>
            <td class="short-col">{{midiKeyboard.keysNumber}}</td>
            <td class="short-col" >
              <div class="midi-out-img mx-auto" [ngClass]="{'image-yes': midiKeyboard.hasMidiOut,
              'image-no': !midiKeyboard.hasMidiOut}">
              </div>
            </td>
            <td>{{midiKeyboard.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-3">

    </div>
  </div>
</div>